body {
  background-image: url("../img/guayacanes.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.8;
}

.logo {
  width: 30%;
}
