body {
  background-image: url('https://2.bp.blogspot.com/-or3SH_FzerE/WGwtHIokerI/AAAAAAAAB-c/dvrAQRBdvkIkv_duT-aODIXU7VzXIJA0wCLcB/s1600/guayacanes.jpg');
  opacity: 0.8;
}

.logo {
  width: 30%;
}
